version: '2'

services:
  mysqldata: # persist database
    build: ./docker/mysql
    entrypoint: /bin/bash
    container_name: mysqldata
  mysql:
    build: ./docker/mysql
    ports:
      - "3306"
    env_file: ./docker/mysql/.env
    volumes_from:
      - mysqldata
    container_name: mysql
  web:
    build: ./docker/web
    ports:
      - "3000:80"
      - "35729:35729"
    env_file: ./docker/web/.env
    volumes:
      - ./docroot/:/var/www/nasa
      - ~/.ssh:/root/.ssh
    container_name: web
  selenium_hub:
    image: selenium/hub
    ports:
      - "4444:4444"
  firefox:
    image: selenium/node-firefox
    depends_on:
      - selenium_hub
    environment:
      HUB_PORT_4444_TCP_ADDR: selenium_hub
      HUB_PORT_4444_TCP_PORT: 4444
  chrome:
    image: selenium/node-chrome
    depends_on:
      - selenium_hub
    environment:
      HUB_PORT_4444_TCP_ADDR: selenium_hub
      HUB_PORT_4444_TCP_PORT: 4444
networks:
  private:
    driver: bridge
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.11.13.1/24
          gateway: 10.11.13.1
